.no-arrow {
  -moz-appearance: textfield;
}

.no-arrow::-webkit-inner-spin-button {
  display: none;
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

body {
  background-color: #c5e4e7;
}

header h1 {
  text-align: center;
  padding: 5vh;
  font-size: calc(1.34375rem + 1.125vw);
  color: #00494d;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  header h1 {
    font-size: 2.1875rem;
  }
}

@media screen and (min-width: 1200px) {
  header h1 {
    padding: 10vh;
  }
}

main {
  background-color: white;
  border-radius: 22px;
}

@media screen and (min-width: 600px) {
  main {
    width: 90%;
    margin: 0 auto 10% auto;
  }
}

@media screen and (min-width: 900px) {
  main {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: 70rem;
  }
}

main .container {
  padding: 40px 20px;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 1000px) {
  main .container {
    width: 85%;
  }
}

@media screen and (min-width: 1200px) {
  main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 40px 35px;
  }
}

main .container label {
  color: #5e7a7d;
}

main .container #bill, main .container #number-of-people {
  margin-top: 5px;
  cursor: pointer;
}

main .container #bill:focus-visible, main .container #number-of-people:focus-visible {
  background-color: unset;
  outline: #26c0ab auto 1px;
}

main .container #number-people {
  position: relative;
}

main .container #number-people .cantbezero {
  position: absolute;
  right: 0;
  opacity: 0;
  color: darkorange;
}

main .icon-inside {
  position: relative;
}

main img {
  position: absolute;
  left: 15px;
  top: 23px;
}

@media screen and (min-width: 1200px) {
  main #select-tip {
    width: 50%;
  }
}

main .select-tip-title {
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #5e7a7d;
}

main .button-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1rem;
  margin-bottom: 25px;
}

@media screen and (min-width: 727px) {
  main .button-display {
    width: 75%;
    margin: 25px auto;
  }
}

@media screen and (min-width: 1200px) {
  main .button-display {
    width: 100%;
  }
}

main .button-display button, main .button-display input {
  padding: 7px 10px;
  width: 120px;
  border-radius: 5px;
  border: unset;
  color: #f4fafa;
  font-size: calc(1.275rem + 0.3vw);
  cursor: pointer;
}

@media (min-width: 1200px) {
  main .button-display button, main .button-display input {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 375px) {
  main .button-display button, main .button-display input {
    width: 143px;
  }
}

main .button-display button::-webkit-input-placeholder, main .button-display input::-webkit-input-placeholder {
  text-align: center;
}

main .button-display button:-ms-input-placeholder, main .button-display input:-ms-input-placeholder {
  text-align: center;
}

main .button-display button::-ms-input-placeholder, main .button-display input::-ms-input-placeholder {
  text-align: center;
}

main .button-display button::placeholder, main .button-display input::placeholder {
  text-align: center;
}

main .button-display .percent-button {
  background-color: #00494d;
}

main .button-display .percent-button:hover {
  background-color: #26c0ab;
  color: #00494d;
}

main .button-display #custom {
  color: #00494d;
}

main .button-display #custom:focus-visible, main .button-display #custom:hover {
  background-color: unset;
  outline: #26c0ab auto 1px;
}

main #result {
  background-color: #00494d;
  padding: 35px 20px;
  border-radius: 10px;
  margin-top: 25px;
}

@media screen and (min-width: 800px) {
  main #result {
    padding: 35px 4%;
  }
}

@media screen and (min-width: 1200px) {
  main #result {
    width: 45%;
  }
}

main #result #result-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (min-width: 1200px) {
  main #result #result-content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

main #result .result-col, main #result .total-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #result .result-col {
  width: 50%;
}

main #result .total-col {
  width: 35%;
  margin-right: 10px;
}

main #result .tip-amount-block {
  margin-bottom: 25px;
}

main #result .result-child-title {
  color: #f4fafa;
}

main #result #tip-amount, main #result #total-result {
  font-size: calc(1.40625rem + 1.875vw);
  color: #26c0ab;
}

@media (min-width: 1200px) {
  main #result #tip-amount, main #result #total-result {
    font-size: 2.8125rem;
  }
}

main #result .mt-total {
  margin-top: 25px;
}

main #result .person {
  color: #7f9c9f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #result #reset-button {
  width: 100%;
  display: block;
  margin: 40px auto 0 auto;
  padding: 10px;
  border: unset;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: #26c0ab47;
  color: #00494d;
}

@media screen and (min-width: 1200px) {
  main #result #reset-button {
    margin: 105px auto 0 auto;
  }
}

input {
  background-color: #f4fafa;
  padding: 10px;
  border: none;
  color: #00494d;
  font-size: calc(1.275rem + 0.3vw);
  text-align: end;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

@media (min-width: 1200px) {
  input {
    font-size: 1.5rem;
  }
}

footer {
  text-align: center;
}

footer a {
  display: block;
  padding: 20px 0;
  width: 20rem;
  margin: auto;
  text-decoration: none;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: linear 0.2s;
  transition: linear 0.2s;
  color: black;
  font-weight: 500;
}

footer a:hover {
  font-weight: 600;
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.active {
  background-color: #26c0ab !important;
  color: #00494d !important;
}

#custom {
  background-color: unset !important;
}

.outline-active {
  outline: #26c0ab auto 1px;
}

.outline-cantbezero {
  outline: darkorange 2px solid;
}

.cantbezero-active {
  opacity: 1 !important;
}

.resetbutton-active {
  cursor: pointer;
  background-color: #26c0ab !important;
  opacity: 0.8;
}

.resetbutton-active:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */