// <------- Import RFS ------->
@import "node_modules/rfs/scss.scss";

// Colors
$strong-cyan: hsl(172, 67%, 45%);//Strong cyan
$very-dark-cyan: hsl(183, 100%, 15%);//Very dark cyan
$dark-grayish-cyan: hsl(186, 14%, 43%);//Dark grayish cyan
$grayish-cyan: hsl(184, 14%, 56%);//Grayish cyan
$background-calculator-color: hsl(0, 0%, 100%);//White
$background-page-color: hsl(185, 41%, 84%);//Light grayish cyan
$very-light-grayish: hsl(189, 41%, 97%);//Very light grayish cyan

//Typography
@mixin font-size-input{
    @include font-size(24px);
}

// Font 
$primary-font: 'Space Mono', monospace;
$primary-font-weight: 700;

//Others
$main-radius: 5px;
$label-margin: 5px;
// Enlève les flèches "monter, descendre" du champ "number"
.no-arrow {
    -moz-appearance: textfield;
  }
.no-arrow::-webkit-inner-spin-button {
    display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0   ;
}
@mixin focus-input-color {
    background-color: unset;
    outline: $strong-cyan auto 1px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
}

body{
    background-color: $background-page-color;
}

header{
    h1{
        text-align: center;
        padding: 5vh;
        @include font-size(35px);
        color: $very-dark-cyan;
        letter-spacing: 0.5rem;
        @media screen and (min-width: 1200px) {
            padding: 10vh;
        }
    }
}

main{
    background-color: $background-calculator-color;
    border-radius: 22px;
    @media screen and (min-width: 600px){
        width: 90%;
        margin: 0 auto 10% auto;
    }
    @media screen and (min-width: 900px){
        width: 80%;
    }
    @media screen and (min-width: 1200px){
        width: 70rem;
    }
    .container{
        padding: 40px 20px;
        width: 100%;
        margin: auto;
        @media screen and (min-width: 1000px) {
            width: 85%;
        }
        @media screen and (min-width: 1200px){
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 40px 35px;
        }
        label{
            color: $dark-grayish-cyan;
        }
        #bill, #number-of-people{
            margin-top: $label-margin;
            cursor: pointer;
            &:focus-visible{
                @include focus-input-color();
            }
        }
        #number-people{
            position: relative;
            .cantbezero{
                position: absolute;
                right: 0;
                opacity: 0;
                color: darkorange;
            }
        }
    }
    .icon-inside{
        position: relative;
    }
    img{
        position: absolute;
        left: 15px;
        top: 23px;
    }
    #select-tip{
        @media screen and (min-width: 1200px) {
            width: 50%;
        }
    }
    .select-tip-title{
        display: block;
        margin-top: 25px;
        margin-bottom: 10px;
        color: $dark-grayish-cyan;
    }
    .button-display{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin-bottom: 25px;
        @media screen and (min-width: 727px) {
            width: 75%;
            margin: 25px auto;
        }
        @media screen and (min-width: 1200px) {
            width: 100%;
        }
        button, input{
            padding: 7px 10px;
            width: 120px;
            border-radius: $main-radius;
            border: unset;
            color: $very-light-grayish;
            @include font-size-input();
            cursor: pointer;
            @media screen and (min-width: 375px) {
                width: 143px;
            }   
            &::placeholder{
                text-align: center;
            }
        }
        .percent-button{
            background-color: $very-dark-cyan;
            &:hover{
                background-color: $strong-cyan;
                color: $very-dark-cyan;
            }    
        }
        #custom{
            color: $very-dark-cyan;
            &:focus-visible, &:hover{
                @include focus-input-color();
            }  
        }
    }
    #result{
        background-color: $very-dark-cyan;
        padding: 35px 20px;
        border-radius: 10px;
        margin-top: 25px;
        @media screen and (min-width: 800px) {
            padding: 35px 4%;
        }
        @media screen and (min-width: 1200px) {
            width: 45%;
        }
            #result-content{
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            @media screen and (min-width: 1200px){
                justify-content: space-evenly;
            }
        }
        .result-col, .total-col{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .result-col{
            width: 50%;
        }
        .total-col{
            width: 35%;
            margin-right: 10px;
        }
        .tip-amount-block{
            margin-bottom: 25px;
        }
        .result-child-title{
            color: $very-light-grayish;
        }
        #tip-amount, #total-result{
            @include font-size(45px);
            color: $strong-cyan;
        }
        .mt-total{
            margin-top: 25px;
        }
        .person{
            color: $grayish-cyan;
            flex-direction: column;
        }
        #reset-button{
            width: 100%;
            display: block;
            margin: 40px auto 0 auto;
            padding: 10px;
            border: unset;
            @include font-size(20px);
            border-radius: $main-radius;
            background-color: #26c0ab47;
            color: $very-dark-cyan;
            @media screen and (min-width: 1200px){
                margin: 105px auto 0 auto;
            }
        }
    }
}

input{
    background-color: $very-light-grayish;
    padding: 10px;
    border: none;
    color: $very-dark-cyan;
    @include font-size-input();
    text-align: end;
    border-radius: $main-radius;
    position: relative;
    width: 100%;
}


footer{
    text-align: center;
    & a{
        display: block;
        padding: 20px 0;
        width: 20rem;
        margin: auto;
        text-decoration: none;
        transform: scaleX(1);
        transition: linear 0.2s;
        color: black;
        font-weight: 500;
        &:hover{
            font-weight: 600;
            transform: scaleX(1.1);
        }
    }
}
//CSS pour le JS"
.active{
    background-color: $strong-cyan !important;
    color: $very-dark-cyan !important;
}
#custom{
    background-color: unset !important;
}

.outline-active{
    outline: $strong-cyan auto 1px;
}

.outline-cantbezero{
    outline: darkorange 2px solid;
}
.cantbezero-active{
    opacity: 1 !important;
}
.resetbutton-active{
    cursor: pointer;
    background-color: $strong-cyan !important;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
}